@{
    ViewData["Title"] = "Home Page";
}

<h1>New Place:</h1>

<form action="/places" method="post">
  <label for="Landmark">Place's Landmark</label>
  <input id="Landmark" name="Landmark" type="text">
  <label for="City">Place's City</label>
  <input id="City" name="City" type="text">
  <label for="Country">Place's Country</label>
  <input id="Country" name="Country" type="text">
  <button type="submit">Go!</button>
</form>

<h1>All Places</h1>

<ol>

  @foreach (Place place in Model.Data)
  {
    <ul>
      <li>ID: @place.PlaceId</li>
      <li>Landmark: @place.Landmark</li>
      <li>City: @place.City</li>
      <li>Country: @place.Country</li>
      <li>Average Rating: @place.AverageRating</li>
    </ul>
    <a href="/Places/Details/@(place.PlaceId)"><p>View Details</p></a>
  }
</ol>